/* Custom CSS for the table */
.choices_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_container{
    display: flex;
    gap: 5px;
    align-items: center;
}

#search {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.choices-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .choices-table th,
  .choices-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .choices-table th {
    background-color: #f2f2f2;
  }
  
  .choices-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .choices-table tbody tr:hover {
    background-color: #ddd;
  }
  