@font-face {
    font-family: 'Montserrat';
    src: url(/static/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(/static/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url(/static/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 900;
}

/************* IMAGES ****************/

img.logo{
    height: 40px;
}