@font-face {
    font-family: 'Montserrat';
    src: url(/static/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(/static/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url(/static/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 900;
}

/*****************  TITLES   **********************/

h1,h2,h3{
    font-family: 'Montserrat Bold';
}

/*****************  MAIN FRAME   **********************/

body {
    margin: 0;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

header {
    width: calc(100vw - 80px);
    position: sticky;
    top: 0;
    z-index: 3000;
    text-align: center;
    padding: 15px 40px;
    border-bottom: solid 1px rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 50px;
    margin: 0;
    align-self: center;
}

/*****************  NAVIGATION   **********************/

nav > *:first-child{
    margin-left: 0;
}

nav > *{
    margin-left: 10px;
}

nav a {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.150);
    padding: 7px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: .3s;
}

nav a.special{
    background-color: orange;
    color: white;
    border: none;
}

nav a.critical{
    background-color: white;
    color: red;
    border: 1px solid red;
}

nav a:hover{
    background-color: rgb(242, 242, 242);
}

nav a.special:hover{
    color: orange;
}

nav a.critical:hover{
    background-color: red;
    color: white;
}

/*****************  PAGE CONTENT   **********************/

.content {
    position: relative;
    display: block;
    padding: 40px;
}

/*****************  TABLE STYLE   **********************/

table{
    border-collapse: collapse;
}

tr{
    border-bottom: solid 1px rgb(224, 224, 224);
    background-color: transparent;
    /*background-color: rgba(156, 156, 156, 0.199);*/
    height: 1.5em;
}

tr:last-of-type{
    border-bottom: none;
}

td{
    padding: 5px 10px;
}

th{
    /*background-color: orange;*/
    color: black;
    font-family: 'Montserrat Bold';
    text-align: left;
    padding: 5px 10px;
}

/*****************  GLOBAL STYLES   **********************/

.blur{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.707);
}

.pill{
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.150);
    padding: 7px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: .3s;
    width: 100vw;
}

.pill:hover{
    background-color: rgb(242, 242, 242);
}

.vertical{
    display: flex;
    flex-direction: column;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.stickRight{
    width: calc(50vw);
}

.vspaced > *:first-child{
    margin-top: 0;
}

.vspaced > *{
    margin-top: 20px;
}

.outlined{
    border: solid 1px rgb(210, 210, 210);
}

a, button{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Montserrat';
}

/*****************  FORMS   **********************/

.form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.150);
}

input{
    font-size: 1em;
    width: 150px;
    margin-left: 10px;
    background-color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.150);
    font-family: 'Montserrat';
}

form > h4{
    font-family: 'Montserrat Bold';
    margin: 10px 0;
}

form > *{
    margin-bottom: 10px;
}

hr{
    width: 100%;
    border: 1px solid gray;
}

/*****************  AUTHENTICATION   **********************/

 .error_message {
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: red;
    color: white;
    border-radius: 20px;
 }
 
 div.auth{
    padding: 40px;
 }

 /******************* SEARCH ***************************/

 .search{
    height: auto;
    font-size: 1em;
 }

 .searchBundle > *:first-child{
    margin-left: 0;
 }

 .searchBundle > *{
    margin-left: 15px;
 }