{% extends 'base.html' %}

{% block content %}
<div class='vertical vspaced'>
   <h1 class='mainTitle'>Administrator Portal</h1>
   <h3>Campuses</h3>
   <div class='horizontal'>
      <table class='stickRight'>
         {{campusList | safe}}
      </table>
      <form action='addsave' method='GET'>
         <h4>Add new</h4>
         <div class='horizontal'>
            <label>Campus name</label>
            <input type='campusName' name='campusName' required>
         </div>
         <div class='horizontal'>
            <label>Campus index</label>
            <input type='campusIndex' name='campusIndex' required>
         </div>
         <hr>
         <button type='submit'>
            Submit
         </button>
      </form>
   </div>
</div>
{% endblock %}