{% extends 'base.html' %}

{% block title %} Apply {% endblock %}

{% block content %}
<form action='addStudent' method='POST'>
   {% if error %}
   <span class="error_message" > {{ error }} </span>
   {% endif %}
      <label style='margin-right: 10px;'>Select campus</label>
      <select type='idCampus' name='idCampus' required>
      {% for campus in campuses %}
         <option value="{{campus[0]}}">{{campus[1]}}</option>
      {% endfor %}
      <option value="3"> douala </option>
   <button type='submit'>Insert</a>
</form>
{% endblock %}