{% extends 'base.html' %}

{% block title %} Apply {% endblock %}

{% block content %}
<div style=" height: calc(100vh-50px); width: calc(100vw-100px) ;  display: flex; justify-content: center; align-items: center;">

   <div  class='form auth outlined'>
      <form action='addStudent' style='display: flex; flex-direction: column; align-items: center;' method='POST'>
      <h3 class='formTitle'>Insert Applicant</h3>
      <div class='vertical formSpaced'>
         
         <div class='horizontal'>
            <label>Campus index</label>
            <select type='idCampus' name='idCampus' class='outlined pill autoWidth'  required >
               <option value="3"> douala </option>
            </select>
         </div>
      </div>
      <hr>
      <button type='submit' class='outlined pill' style='width: 100%;margin-top: 10px;'>Insert</a>
      </form>
   </div>
</div>

  
{% endblock %}