<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %} - Mobility</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel='icon' href="{{ url_for('static', filename='images/logotype_short.png') }}">
</head>

<body style="overflow: hidden;">
    <header class='blur'>

      <div class='horizontal'>
        <a href="/">
          <img src="{{ url_for('static', filename='images/logotype-seul-couleur-RVB.png') }}" class="logo" alt="icam logo" srcset="">
        </a>
      </div>

      <nav>
        {% if session.get("user") %}
        <a href="{{ url_for('choices') }}" class="outlined">Choices</a>
        {% endif %}

        {% if session.get("userType") == 'admin' %}
        <a href="{{ url_for('admin') }}" class="{% if active_page == 'admin' %}active{% endif %} special">Admin Portal</a>
        {% endif %}
        
        {% if session.get("user") and session.get("userType") != 'admin' %}
        <a href="{{ url_for('apply') }}" class="special">Apply</a>
        {% endif %}

        {% if session.get("user") %}
        <a href="{{ url_for('logout') }}" class="critical"> Log {{ session.get("email") }} out</a>
        {% endif %}

        {% if not session.get("user") %}
        <a href="{{ url_for('login') }}" class="special">Login</a>
        {% endif %}
      </nav>
    </header>

    <div  class="content">{% block content %} {% endblock %}</div>
  </body>
</html>
