{% extends 'base.html' %} {% block title %} Students choices {% endblock %} {%
block content %}

<input type="text" id='search' placeholder="Look up applicants by email or destination"  defaultValue="{{search}}"   />
<a type='submit' id="search_button">

<table >
  <thead>
    <tr>
      <th>Student email</th>
      <th>Preferred destination</th>
    </tr>
  </thead>
  <tbody>
    {%for choice in choices %}
    <tr>
      <td>{{ choice[0] }}</td>
      <td>{{ choice[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var searchButton = document.getElementById("search_button");

    searchButton.addEventListener("click", function () {
      var searchInput = document.getElementById("search").value.trim();
      window.location.href =
        "/choices?search=" + encodeURIComponent(searchInput);
    });
  });
</script>
{% endblock %}
