{% extends 'base.html' %} {% block title %} Students choices {% endblock %} {%
block content %}

<div class="vertical vspaced">
  <h1>Current Applications</h1>
  <div class='horizontal searchBundle' style='width: auto;'>
    <input type="text" id='search' class='search pill outlined' placeholder="Look up applicants by email or destination"  defaultValue="{{search}}"   />
    <a type='submit' class='pill outlined' style='cursor: pointer; width: auto;' id="search_button">Search</a>
    <a type='submit' class='pill outlined' style='cursor: pointer; width: auto;' id="search_button">Search</a>
  </div>
  <table class="choices-table">
    <thead>
      <tr>
        <th>Student email</th>
        <th>Preferred destination</th>
      </tr>
    </thead>
    <tbody>
      {%for choice in choices %}
      <tr>
        <td>{{ choice[0] }}</td>
        <td>{{ choice[1] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var searchButton = document.getElementById("search_button");

    searchButton.addEventListener("click", function () {
      var searchInput = document.getElementById("search").value.trim();
      window.location.href =
        "/choices?search=" + encodeURIComponent(searchInput);
    });
  });
</script>
{% endblock %}
