{% extends 'base.html' %}

{% block content %}
   <div class='horizontal'>
      <div class='mapArea'>
         <img src="{{ url_for('static', filename='images/plane.jpg') }}" class='map' alt="icam map" srcset="">
      </div>
      <div class='vertical alwaysOnTop'>
         <h1 class='mainTitle'>Déposez votre candidature pour la mobilité ici.</h1>
         <p>
            Assurez vous d'avoir un dossier complet en main. Vous devez disposer des informations suivantes:
            <br>
            - Sites classés par ordre de préférence<br>
            - Lettre de motivation pour les trois premiers sites<br>
            - CV au format international (Voir drive Mobilité)
         </p>
      </div>
   </div>
{% endblock %}