{% extends 'base.html' %}

{% block content %}
<div style='height: 100%;display: block; position: fixed;width: 100%;'>
   <div class='horizontal' id='mainPage'>
      <!--<img src="{{ url_for('static', filename='images/plane.jpg') }}" class='map' alt="icam map" srcset="">-->
      <div class='vertical floating'>
         <h1 class='mainTitle'>Apply for your mobility here.</h1>
         <p>
            Students in year O2 and O3 may exclusively apply on this platform. You will require:
            <br>
            - You desired destinations ranked by order of preference<br>
            - A motivation letter covering your 3 preferred destinations<br>
            - A CV following the international CV guidelines
         </p>
         <h3>Available destinations:</h3>
         <table>
            {{campusList | safe}}
         </table>
      </div>
   </div>
</div>
{% endblock %}