{% extends 'base.html' %} {% block title %} Signup {% endblock %} {% block
    content %}

{% if error %}
  <span class="error_message" > {{ error }} </span>
{% endif %}
<form action="/api/signup" method="post">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="example@icam.fr" required/>
  <label for="secret">Invite</label>
  <input type="text" id="secret" name="secret" placeholder="2027" required />
</form>

<a href="{{url_for('login')}}"> Login </a>

{% endblock %}